
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document

        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/styleHome.css")
    body 
        include includes/navbar.pug

        .container
          .cont
           .row#prow

            -for(let product of products)
             .col-12.col-md-4.col-lg-4.col-xl-4
               .card(style='border:0px;height:auto;')
                 .card.catea(style="height:90%;")
                    img.card-img-top( alt='...',style="width:70%;height:auto;" src=product.image)
                 .card-body
                   h5.card-title 
                       p #{product.Name}
                       p price:
                        span(style="color:blue;padding:5%;") #{(product.Price)+5}$
                       form(method="POST")

                          input(type="hidden", name="id" value=product.id)
                          input(type="hidden", name="name" value=product.name)
                          input(type="hidden", name="Price" value=product.nprice)
                          input(type="Number" name="c" style="width:100%;" value=1)
                          input(type="submit" value="Buy now",formaction="/products/buy",style="width:100%;margin-top:5%")
                          input(type="submit" ,formaction="/products/a",value="Add To Cart",,style="width:100%;margin-top:5%")
             .col-12.col-md-8.col-lg-8.col-xl-8#aboutp
                h3 #{product.name}
                .row
                  .col-12.col-md-6.col-lg-6.col-xl-6.spec1(style="font-size:13px")
                   .sec 
                    ul 
                      -for(sp of spec){
                        li(style="word-break: break-all;") #{sp}
                      -}
                  .col-12.col-md-6.col-lg-6.col-xl-6.spec2
                    -if(product.shipping){
                       p(style="color:blue")
                          span | FREE Shipping to Palestinian Territories
                       -}
                    .payment 
                      .payment_id Payment Method
                      .payment_method Paiement when recieving
                      .payment_explain We simply deliver the product to your home and you pay the price to the delivery agent.


     
    script(src="/js/bootstrap.min.js")
    script(src="/js/popper.js")
    script(src="/js/bootstrap.bundle.min.js")
